{% load static %}
<!DOCTYPE html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- kakao map -->
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ KAKAO_JS_KEY }}&libraries=clusterer"></script>

    <!-- google material icons -->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|
    Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

    <!-- custom css & js-->
    <link rel="stylesheet" href="{% static '/css/complaint.css' %}">

    <title>ë¯¼ì› ? ê³ </title>

</head>

<body>

    <div>
        <h1>ë¯¼ì› ?…ë ¥</h1>
        ?´ë–¤ ê³ ì–‘?´ê? ë¬¸ì œë¥??¼ìœ¼?¤ëŠ”ì§€<br><br>
        <span class="problem" id="button_know_cat" style="cursor: pointer"> ?Œì•„??/span><!-- ë²„íŠ¼?´ë‹ˆê¹???ê¾¸ë©°ì¤?-->
        <span class="problem" id="button_dont_know_cat" style="cursor: pointer"> ëª¨ë¥´ê² ì–´??/span><!-- ?˜ë„! -->
        <br><br><br>

        <!-- ?´ë–¤ ê³ ì–‘?´ê? ë¬¸ì œ?¸ì? ?Œì•„?? -->
        <div id="know_cat_div" style="display: block">
            <center>
                <div id="map1" style="width:500px;height:400px;"></div>
            </center><!-- ì§€??-->
        </div>

        <!-- ?´ë–¤ ê³ ì–‘?´ê? ë¬¸ì œ?¸ì? ëª¨ë¥´ê² ì–´?? -->
        <div id="dont_know_cat_div" style="display: block">
            <center>
                <div id="map2" style="width:500px;height:400px;"></div>
            </center><!-- ì§€??-->
        </div>
        <form method="post" action="{% url 'complaint' %}" id="complaint-form">
            {% csrf_token %}
            <br>
            ë¯¼ì› ì¢…ë¥˜:
            <input name="complaint_kind" type="checkbox" value="?ŒìŒ">?ŒìŒ
            <input name="complaint_kind" type="checkbox" value="?…ì·¨">?…ì·¨
            <input name="complaint_kind" type="checkbox" value="ê¸°ë¬¼/?¬ì‚° ?¼í•´">ê¸°ë¬¼/?¬ì‚° ?¼í•´
            <input name="complaint_kind" type="checkbox" value="ê¸°í?">ê¸°í?
            <br><br><br>
            ?¹ì´?¬í•­:
            <textarea rows="5" cols="30" name="character" placeholder="?ì„¸?¤ëª…, ê¸°í? ?¬í•­???ì–´ì£¼ì„¸?? id="textarea"></textarea>
            <br><br>

            <input id="latitude" name="latitude" type="hidden" value=37.643388210851406> <!-- ?„ë„ ë³´ë‚´??ë¶€ë¶?-->
            <input id="longitude" name="longitude" type="hidden" value=127.10764129356582> <!-- ê²½ë„ ë³´ë‚´??ë¶€ë¶?-->
            <input id="default_cat_id" name="default_cat_id" type="hidden" value={{default_cat_id}}> <!-- ?”í´???„ì´??-->
        </form>
        <span id="confirm-btn" class="submit" style="cursor: pointer" input type="submit">?±ë¡</span>

    </div>

    <!-- ì§€???¸íŒ… ?¨ìˆ˜ ì½”ë“œ-->
    <script>
        var cat_id = -1;
        var a = 37.643388210851406
        var b = 127.10764129356582
        var default_cat_id = $('input[name=default_cat_id]').val();
        
        function know_map_set() {
            var container = document.getElementById('map1');
            var options = {
                center: new kakao.maps.LatLng(a, b),
                level: 3 //ì§€??ìµœì´ˆ ?œì‹œ?????•ë? ?•ë„
            };
            var map = new kakao.maps.Map(container, options);
            map.setMaxLevel(9);

            var positions = [];
            var images = [];

            $.ajax({
                url: "{% url 'getApi' %}",
                dataType: "json",
                success: function (data) {
                    //console.log(data)
                    for (var i = 0; i < data.length; i++) {
                        const data1 = $.trim(data[i].fields.photo);

                        //?„ì¹˜ ?•ë³´ ì¶”ê?
                        positions.push({
                            title: data[i].fields.name,
                            latlng: new kakao.maps.LatLng(data[i].fields.latitude, data[i].fields.longitude),
                            content1: `<div style="display: inline-block;"><image src="/static/media/${data1}" width="120px"></div>`,
                            content2: `<div style="padding:5px;">${data[i].fields.name}</div>`,
                            id: data[i].pk
                        });
                        //?´ë?ì§€ ?•ë³´ ì¶”ê?
                        if (data[i].fields.photo.length != 0)
                            images.push("{% static 'media/' %}" + data[i].fields.photo);
                        else
                            images.push("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png");
                    }
                },
                error: function (request, status, error) {
                    console.log('?¤íŒ¨');
                },
                async: false
            });
            var markers = [];

            // ë§ˆì»¤ ?´ëŸ¬?¤í„°?¬ë? ?ì„±?©ë‹ˆ??
            var clusterer = new kakao.maps.MarkerClusterer({
                map: map, // ë§ˆì»¤?¤ì„ ?´ëŸ¬?¤í„°ë¡?ê´€ë¦¬í•˜ê³??œì‹œ??ì§€??ê°ì²´ 
                averageCenter: true, // ?´ëŸ¬?¤í„°???¬í•¨??ë§ˆì»¤?¤ì˜ ?‰ê·  ?„ì¹˜ë¥??´ëŸ¬?¤í„° ë§ˆì»¤ ?„ì¹˜ë¡??¤ì • 
                minLevel: 2, // ?´ëŸ¬?¤í„° ??ìµœì†Œ ì§€???ˆë²¨ 
                gridSize: 40,
                //?´ëŸ¬?¤í„° ?¤í??? ??ë¶€ë¶„ì„ ì£¼ì„ì²˜ë¦¬?˜ë©´ ?ë˜ ?´ë?ì§€ë¡??˜ì˜´
                styles: [{
                    'width': '52px',
                    'height': '52px',
                    'background': 'url(../../static/image/eee.png) no-repeat', //?´ë?ì§€???¬ê¸°ê°€ 52x52?¬ì•¼ ??
                    'border-radius': '52px',
                    'border': '1px solid #1a86ae',
                    'color': 'white',
                    'textAlign': 'center',
                    'lineHeight': '52px',
                    'font-weight': 'bold',
                    'font-size': '14px',
                    'text-shadow': '-1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000'
                }]
            });

            var imageSize = new kakao.maps.Size(50, 50); // ë§ˆì»¤ ?´ë?ì§€???´ë?ì§€ ?¬ê¸° ?…ë‹ˆ??
            var infowindow_list = [];
            $.ajax({
                url: "{% url 'getApi_marked' %}",
                dataType: "json",
                success: function (data) {
                    //console.log(data);
                    //console.log("data.list: "+ data.list[0].is_marked);
                    //d = JSON.stringify(data)
                    //console.log("d.list: "+d.list);


                    for (var i = 0; i < positions.length; i++) {
                        var markerImage = new kakao.maps.MarkerImage(images[i], imageSize);// ë§ˆì»¤ ?´ë?ì§€ë¥??ì„±?©ë‹ˆ?? 

                        // ë§ˆì»¤ë¥??ì„±?©ë‹ˆ??
                        var marker = new kakao.maps.Marker({
                            map: map, // ë§ˆì»¤ë¥??œì‹œ??ì§€??
                            position: positions[i].latlng, // ë§ˆì»¤ë¥??œì‹œ???„ì¹˜
                            title: positions[i].title, // ë§ˆì»¤???€?´í?, ë§ˆì»¤??ë§ˆìš°?¤ë? ?¬ë¦¬ë©??€?´í????œì‹œ?©ë‹ˆ??
                            image: markerImage // ë§ˆì»¤ ?´ë?ì§€ 
                        });
                        var de = Number(positions[i].id)
                        var iwContent;

                        if (data.list[i].is_marked) {
                            iwContent = `<div id="${positions[i].id}"; class="marker";>
                                            <span class="bookmark material-icons" style="float: right; color: rgb(255, 220, 21);">bookmark </span><br>
                                            <div style="width:120px;height:120px;text-align:center;margin:6px;border: 12px solid rgb(252, 187, 187);border-radius: 50%;>
                                                ${positions[i].content1}
                                            </div>
                                            ${positions[i].content2}
                                            <div class="check"><h4>?„ì¬ ? íƒ??/h4></div> 
                                        </div>` // ?„ì?ì¤˜ìš”, ?¬ê¸° checkê°€ ?ˆë¨¹??submit?€???„ì¬ ? íƒ??ë¶€ë¶„ì„ ?™ê·¸?—ê²Œ ë§Œë“¤ê³??¶ì–´
                        }
                        else {
                            iwContent = `<div id="${positions[i].id}"; class="marker";>
                                            <span class="bookmark material-icons" style="float: right; color: rgb(255, 220, 21);">bookmark_border </span><br>
                                            <div style="width:120px;height:120px;text-align:center;margin:6px;border: 12px solid rgb(252, 187, 187);border-radius: 50%;>
                                                ${positions[i].content1}
                                            </div>
                                            ${positions[i].content2}
                                            <div class="check"><h4>?„ì¬ ? íƒ??/h4></div> 
                                        </div>` // ?„ì?ì¤˜ìš”, ?¬ê¸° check ?´ë˜?¤ê? ?ˆë¨¹??.. submit?€???„ì¬ ? íƒ??ë¶€ë¶„ì„ ?™ê·¸?—ê²Œ ë§Œë“¤ê³??¶ì–´, ê·¸ë¦¬ê³??´ë?ì§€ ê²‰ì— ?™ê·¸?—ê²Œ ë°–ì— ?°ìƒ‰?´ë‘ ë¶„ë¦¬?˜ëŠ” ? ì„ ë§Œë“¤ê³??¶ì–´
                        }


                        // ë§ˆì»¤???œì‹œ???¸í¬?ˆë„?°ë? ?ì„±?©ë‹ˆ??
                        var infowindow = new kakao.maps.InfoWindow({
                            content: iwContent,
                        });
                        infowindow_list.push(infowindow);
                        // forë¬¸ì—???´ë¡œ?€ë¥?ë§Œë“¤??ì£¼ì? ?Šìœ¼ë©?ë§ˆì?ë§?ë§ˆì»¤?ë§Œ ?´ë²¤?¸ê? ?±ë¡?©ë‹ˆ??
                        kakao.maps.event.addListener(marker, 'click', makeOverListener(map, marker, infowindow, de));

                        if(default_cat_id == de){
                            infowindow.open(map, marker);
                        }
                        
                        markers.push(marker);
                    }
                    clusterer.addMarkers(markers);
                },
                error: function (request, status, error) {
                    console.log('?¤íŒ¨22');
                }

                
            });


            function makeOverListener(map, marker, infowindow, de) {
                return function () {
                    for (i = 0; i < infowindow_list.length; i++) {
                        infowindow_list[i].close()
                    }
                    infowindow.open(map, marker);
                    cat_id = de;
                    //console.log(cat_id)
                };
            };
        }

        function dont_know_map_set() {
            var a = 37.643388210851406
            var b = 127.10764129356582


            var mapContainer = document.getElementById('map2'),
                mapOption = {
                    center: new kakao.maps.LatLng(a, b),
                    level: 3 // ì§€?„ì˜ ?•ë? ?ˆë²¨
                };

            var map2 = new kakao.maps.Map(mapContainer, mapOption); // ì§€?„ë? ?ì„±?©ë‹ˆ??

            // ì§€?„ë? ?´ë¦­???„ì¹˜???œì¶œ??ë§ˆì»¤?…ë‹ˆ??
            var marker2 = new kakao.maps.Marker({
                // ì§€??ì¤‘ì‹¬ì¢Œí‘œ??ë§ˆì»¤ë¥??ì„±?©ë‹ˆ??                            ?´ê±° ë§ˆì»¤ ?„ì¹˜ë¥??¬ìš©???„ì¹˜ë¡??¤ì •?˜ë„ë¡??´ì•¼??
                position: map2.getCenter()
            });
            // ì§€?„ì— ë§ˆì»¤ë¥??œì‹œ?©ë‹ˆ??
            marker2.setMap(map2);

            // ì§€?„ì— ?´ë¦­ ?´ë²¤?¸ë? ?±ë¡?©ë‹ˆ??
            // ì§€?„ë? ?´ë¦­?˜ë©´ ë§ˆì?ë§??Œë¼ë¯¸í„°ë¡??˜ì–´???¨ìˆ˜ë¥??¸ì¶œ?©ë‹ˆ??
            kakao.maps.event.addListener(map2, 'click', function (mouseEvent) {

                // ?´ë¦­???„ë„, ê²½ë„ ?•ë³´ë¥?ê°€?¸ì˜µ?ˆë‹¤ 
                var latlng = mouseEvent.latLng;

                // ë§ˆì»¤ ?„ì¹˜ë¥??´ë¦­???„ì¹˜ë¡???¹?ˆë‹¤
                marker2.setPosition(latlng);

                document.getElementById('latitude').value = latlng.getLat();
                document.getElementById('longitude').value = latlng.getLng();
            });
        }
    </script>
    <!-- ì§€??ì´ˆê¸°??-->
    <script>
        know_map_set()
        dont_know_map_set()
        $("#dont_know_cat_div").css({
            display: 'none'
        });
    </script>
    <!-- ? íƒ ë²„íŠ¼ ì½”ë“œ-->
    <script>
        var form_tag = 0; //0?´ë©´ ê³ ì–‘???ˆë‹¤, 1?´ë©´ ëª¨ë¥¸??
        $("#button_know_cat").click(function () {
            $("#know_cat_div").css({
                display: 'block'
            });
            $("#dont_know_cat_div").css({
                display: 'none'
            });
            form_tag = 0;
        });
        $("#button_dont_know_cat").click(function () {
            $("#know_cat_div").css({
                display: 'none'
            });
            $("#dont_know_cat_div").css({
                display: 'block'
            });
            form_tag = 1;
        });
    </script>
    <!-- ??ê´€??ì½”ë“œ-->
    <script>
        const complaintForm = document.getElementById('complaint-form') //?¼í…Œê·?
        const csrf = document.getElementsByName('csrfmiddlewaretoken')
        const fd = new FormData();

        $("#confirm-btn").click(function () {
            var characterInput = $('#textarea').val();
            var latitudeInput = $('input[name=latitude]').val();
            var longitudeInput = $('input[name=longitude]').val();
            var checked_list = [];

            $("input:checkbox[name=complaint_kind]:checked").each(function () {
                checked_list.push($(this).val()); // ì²´í¬??ê°’ì˜ valueê°?ê°€?¸ì˜¤ê¸?
            });

            fd.set('csrfmiddlewaretoken', csrf[0].value)
            fd.set('form_tag', form_tag); //?¼í…Œê·??•ë³´ ?£ê¸°(ë°±ì—”?œì—??ì²˜ë¦¬ ë°©ì‹???¬ë¼ì§?
            fd.set('character', characterInput); //ì¶”ê?ë¡??ì„ ?¬í•­ ?ìŠ¤???ì–´ë¦¬ì–´
            fd.set('complaint_kind', checked_list);

            if ((form_tag == 0 && cat_id != -1) || form_tag == 1) {
                if (form_tag == 0) { //if ê³ ì–‘?´ë? ????
                    //console.log(cat_id)
                    fd.set('cat_id', cat_id);
                }
                else { //else ê³ ì–‘?´ë? ëª¨ë? ??
                    fd.set('latitude', latitudeInput)
                    fd.set('longitude', longitudeInput)
                }
                //?˜ì • ?„ìš”
                $.ajax({
                    type: 'POST',
                    url: complaintForm.action,
                    enctype: 'form-data',
                    data: fd,
                    success: function (response) {
                        console.log('success')
                        location.replace(document.referrer); 
                    },
                    error: function (error) {
                        console.log('error', error)
                    },
                    cache: false,
                    contentType: false,
                    processData: false,
                })
            }
            else {
                //?¤ë¥¸ ?¤ë¥˜ ê²½ìš°??
                if (cat_id == -1) {
                    alert("ê³ ì–‘?´ê? ? íƒ?˜ì? ?Šì•˜?µë‹ˆ??")
                }
                else {
                    alert("?¤ë¥˜")
                }
            }
        });
    </script>
</body>

</html>