{% load static %}<!-- static ?åÏùº ?ÅÏö©???ÑÌïú ÏΩîÎìú -->
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/signup.css' %}">
</head>

<body>
    <div class="box1">
        <div class="box2" style = "text-align: center;">
            <h1>?åÏõêÍ∞Ä??/h1>
            <form method="POST" action="{% url 'signup' %}">
                {% csrf_token %}
                ?ÑÏù¥??br>
                <input name="name" type="text">
                <br>
                ÎπÑÎ?Î≤àÌò∏<br>
                <input name="password1" type="password">
                <br>
                ÎπÑÎ?Î≤àÌò∏ ?ïÏù∏<br>
                <input name="password2" type="password">
                <br>
                ?¥Î©î??br>
                <input name="email" type="email">
                <br><br>
               <input type="submit" class="btn btn-primary" value="Sign Up">
            </form>
        </div>
    </div>
</body>

</html>